@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark : #141C24;
  --yellow : #C69963 ;
  --gray :#3C546C ;
  --dark-gray :#141C24;
  --light-gray:#D4DEE7 ;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark : var(--dark);
  --color-yellow : var(--yellow);
  --color-gray : var(--gray);
  --color-dark-gray :var(--dark-gray);
  --color-light-gray :var(--light-gray);
  --font-sans: var(--font-josefin-sans);
  --font-mono: var(--font-geist-mono);
}

/* Animations shadow & color transitions */
@property --degree { syntax: "<angle>"; initial-value: 0deg; inherits: false; } @property --factor { syntax: "<length>"; initial-value: 1px; inherits: false; } @property --blur { syntax: "<length>"; initial-value: 1px; inherits: false; } @theme { --animate-loader-colors: loader-colors 3s infinite cubic-bezier(0.75, 0.25, 0.25, 0.75); --animate-loader-pulse: loader-pulse 3s infinite cubic-bezier(0.75, 0.25, 0.25, 0.75); @keyframes loader-colors { 0% { --degree: 0deg; } 100% { --degree: 360deg; } } @keyframes loader-pulse { 0% { --factor: 40px; --blur: 0px; } 50% { --factor: 10px; --blur: 3px; } 100% { --factor: 40px; --blur: 0px; } } }
.animate-shadows-dancing::before,
.animate-shadows-dancing::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  animation: shadowsdancing 4s infinite;
}

.animate-shadows-dancing::before {
  transform: rotate(45deg);
}

.animate-color-1 {
  animation: colordancing 4s infinite;
}

.animate-color-2 {
  animation: colordancing2 4s infinite;
}

@media (prefers-color-scheme: dark) {
  :root { 
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
